:root {
  --brightest: #ffffff;
  --bright: #cccccc;

  --mid: #3399aa;
  --mid_hover: #33bbaa;

  --dark: #666666;
  --dark_hover: #999999;

  --page_bg: #000000;

  --text_size: 16px;

  --pad_sm: 8px;
  --pad_md: 16px;
  --pad_lg: 32px;
}

/* RETRO FONT */
@font-face {
  font-family: "PixelFont";
  src: url("../fonts/PressStart2P.ttf") format("truetype");
}

/* FORCE SAME FONT / CURSOR DEFAULT FOR EVERYTHING */
* {
  color: var(--brightest);

  font-family: "PixelFont", sans-serif;
  font-size: var(--text_size);
  line-height: calc(var(--text_size) + 4px);
  font-weight: normal;

  cursor: url("../img/ui/cursor_ref.gif") 17 17, auto;
}

/* CURSOR HOVER OVER INTERACTABLES */
input,
button,
select,
textarea,
a,
.osc_butt {
  cursor: url("../img/ui/cursor_hvr.gif") 17 17, auto;
}

/* BLANK BUTTON */
button.blank {
  background: none;
  border: none;
  padding: 0;
}

/* BODY LEVEL STYLING */
body {
  margin: 0;
  padding: 0;
}

/* WIP - RESPONSIVENESS */
header {
  background-color: black;
}
.bodyContent {
  width: 100%;
}

header,
section,
footer {
  width: 100%;
  min-width: 425px;
  max-width: 960px;

  margin-inline: auto;
  padding: var(--pad_sm);
}

/* BUTTON & A HREFS  */
button,
a[href],
a[href]:visited {
  text-align: center;
  text-decoration: none;

  color: var(--bright);
  background-color: var(--mid);

  border: 2px solid var(--brightest);
  border-right-color: var(--bright);
  border-bottom-color: var(--dark);

  padding: var(--pad_sm) var(--pad_md);
  margin-block: var(--pad_sm);
}

button:hover,
a[href]:hover {
  color: var(--brightest);
  /* NOTE - NO BG COLOR CHANGE ON HOVER TO MAINTAIN VIZ OF SELECTED STATE */
  /* background-color: var(--mid_hover); */

  border-bottom-color: var(--dark_hover);
}

/* UI PANEL BORDERS */
.border_pixel {
  border: 16px solid transparent;
  padding: 8px;
  border-image: url("../img/ui/border.png") 16 round;
}

/* SECTION VERT CONTENT LAYOUT */
section {
  background-color: var(--page_bg);
}

.content_half {
  display: flex;
  align-items: stretch;
  margin-inline: auto;
  margin-block: var(--pad_lg);
  flex-direction: row;
  gap: var(--pad_sm);
}

.content_half div:first-child {
  flex: 1 1 0;
}

.content_half div {
  flex: 3 1 0;
}

/* GENERIC/MULTI_USE */
.horiz_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: var(--pad_md);
  align-items: stretch;
}

.horiz_flex * {
  flex: 1 1 0;
}

.mb_md {
  margin-bottom: var(--pad_md);
}

.mi-c {
  margin-inline: auto;
  display: block;
}

.mw-100 {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.m_block {
  margin-block: var(--pad_sm);
}

/* FOOTER CONTENT */
footer {
  background-color: black;
  text-align: center;
}

/* ON-SCREEN CONTROLS ON ALL PAGES, CRT & VOLUME*/
#os_controls {
  position: fixed;  
  right: 0;
  top: 0;
  z-index: 9999; 
}

.osc_butt {
  height: 24px;
  width: 48px;

  margin: 0 4px 0 0 !important;
  background-position: center center;
  background-repeat: no-repeat no-repeat;

  border: 2px solid white;
  border-radius: 4px;

  background-color: black;
}

.aud_icon_muted {
  background-image: url("../img/ui/aud_icon_muted.png");
}

.aud_icon_loud {
  background-image: url("../img/ui/aud_icon_loud.png");
}

.viz_icon_fx_on {
  background-image: url("../img/ui/viz_icon_fx_on.png");
}

.viz_icon_fx_off {
  background-image: url("../img/ui/viz_icon_fx_off.png");
}

/* DYNAMIC PAGE VIEWS / MODALS */
.hidden {
  visibility: hidden;
}

/* DIALOG STYLES */

dialog {
  background-color: black;
  padding: var(--pad_sm);
  margin: auto;
  min-width: 526px;
  min-height: 64px;
  overscroll-behavior: contain;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}

dialog#dialog_credits {
  width: 100%;
  max-width: 960px;
  height: 80%;

  margin: var(--pad_lg) auto;
}

footer button,
footer a,
dialog a {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  text-decoration: underline !important;
  color: magenta !important;
}

footer button,
footer a {
  line-height: var(--text_size);
}

dialog a {
  line-height: calc(var(--text_size) * 2);
}

footer button:hover,
footer a,
dialog a:hover {
  color: cyan !important;
}

dialog#dialog_credits::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

/* ADJ ACTIVE LANGUAGE SELECTION ANIM */
.active-language {
  --animate-duration: 0.7s;
}
