.keyboard {
	margin-block: 120px 60px;
	border: 1px solid peru;
}

.keys {
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 0px;
}

.keys img {
	width: 40px;
	height: 40px;
	padding: 1px;
	transition: 0.1s;
}

.caps img {
	width: 70px;
}

.med img {
	width: 50px;
}

.space img {
	width: 300px;
}

.enter img {
	width: 70px;
}

.Shift img {
	width: 80px;
}

.active {
	scale: 0.85;
}

/* MOVE KEYBOARD TEMP */
/* .keyboard{
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -20%);
} */
