/* TEXT / INFO / UI OVERLAY ON THE GAME VIEW */
.screen-overlay {
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 352px;
	height: 160px;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 10px;
	padding-top: 10px;
	z-index: 300;
}

.screen-overlay.win {
	color: rgb(255, 221, 71);
}

.screen-overlay.lose {
	color: rgb(255, 0, 43);
}

.screen-overlay.pauss {
	color: white;
}

.screen-overlay-title {
	position: relative;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.screen-overlay-buttons-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	padding: 0;
	margin: 0;
}

.screen-overlay-buttons-div button {
	position: relative;
	border-radius: 0;
	font-size: 12px;
	color: rgb(251, 43, 43);
	margin: 0 !important;
	background-color: rgba(0, 0, 0, 0);
	padding: 2px;
	border: none;
	outline: none;
	cursor: pointer;
}

.screen-overlay-buttons-div button.selected {
	background-color: rgba(0, 0, 0, 0) !important;
	color: yellow;
	transform: scale(0.95);
	margin: 0;
}

.screen-overlay-buttons-div button.selected::after {
	content: '';
	position: absolute;
	top: 20px !important;
	bottom: 0 !important;
	left: 0;
	opacity: 1 !important;
	width: 100% !important;
	height: 3px !important;
	background-color: yellow !important;
	animation: none !important;
}

.screen-overlay-buttons-div button.selected::before {
	content: '';
	height: 0 !important;
}

.screen-overlay-buttons-div button:hover {
	background-color: rgba(0, 0, 0, 0) !important;
	color: yellow;
	transform: scale(0.95);
}

.screen-overlay-buttons-div button:hover::before {
	content: '';
	height: 0 !important;
}

.screen-overlay-buttons-div button:hover::after {
	content: '';
	position: absolute;
	top: 20px !important;
	bottom: 0 !important;
	left: 0;
	opacity: 1 !important;
	width: 100% !important;
	height: 3px !important;
	background-color: yellow !important;
	animation: none !important;
}

/* game buttons */
/* hide continute when lose  */
.screen-overlay.pause #continue-btn,
.screen-overlay.lose #continue-btn {
	display: none;
}

/* hide retry when win */
.screen-overlay.pause #retry-btn,
.screen-overlay.win #retry-btn {
	display: none;
}

/* =========================================================================================== */
/* starting display */
.start-display {
	display: flex;
	flex-direction: column;
	gap: 0;
	text-align: center;
	margin: 0;
	width: 100%;
}

.start-display-enter {
	width: 100%;
	font-size: 12px;
	color: rgb(255, 0, 0);
	margin-bottom: 10px;
}

.start-display-level {
	font-size: 10px;
	color: white;
	margin: 0;
}

.start-display-diff {
	font-size: 10px;
	color: white;
	margin: 0;
}

/* ========================================================================================= */
/* high score */
.highscore-div {
	display: flex;
	font-size: 10px;
}

.highscore-title {
	position: relative;
	font-size: 10px;
}

.highscore-score {
	margin-left: 5px;
	font-size: 10px;
	color: red;
}

/* =================================================================================== */
/* name input */
.namn-input-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	gap: 5px;
}

.name-input-title {
	font-size: 12px;
}

.name-input-lower-div {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 4px 10px;
}

.name-input {
	grid-column: 1;
	grid-row: 1;
	font-size: 15px;
	width: 100px;
	background-color: black;
	border: 2px solid yellow;
	color: yellow;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.name-input:focus {
	outline: none;
	border: 2px solid yellow;
	color: yellow;
}

.name-input::placeholder {
	color: rgb(103, 103, 103);
}

.name-input-btn {
	grid-column: 2;
	grid-row: 1;
	color: black;
	/* font-size: 10px;
  height: 30px; */
	background-color: yellow;
	margin: 0;
}

.name-input-message {
	grid-column: 1 / 3;
	grid-row: 2;
	font-size: 9px;
	color: red;
}
